<h2>{{ escape(title) }}</h2>

<form id="update-form" enctype="multipart/form-data" method="post">
<div class="container-fluid">
  <div class="row">
		{% for update_item in config['UPDATE_COMMANDS'] %}
		<button type="button" name="ZYNTHIAN_UPDATE_ACTION" value="{{ update_item }}" class="btn btn-lg btn-theme" onclick="executeUpdate('{{ update_item }}')">{{ update_item }}</button>
		{% end %}
	</div>
	<div class="row">
		<div id="update-log"></div>
	</div>
</div>

</form>

<script>
var socket;

function executeUpdate(update_action){
	var url = window.location.href
	var parts = url.split("/");
	var sendUpdateAction = function(){
		var logDiv = $("#update-log");
		logDiv.addClass("updating");
		logDiv.html('');
		socket.send(update_action);
	}
	if (socket == undefined){
		socket = new ws("ws://"+parts[2]+"/api/sys-update-exec");
	} else {
		if (socket.readyState == 1) {
				sendUpdateAction();
		}
	}

	socket.onconnecting = function(evn){
		console.log("socket:onconnecting:",evn);
		// sendMsg("wcj");
	}
	socket.onopen = function(evn){
		console.log("socket:onopen:",evn);

		sendUpdateAction();
	}
	socket.onclose = function(evn){
		console.log("socket.onclose:",evn);
		socket.close();
	}

	socket.onmessage = function(evt){
		if (evt.data){
			var logDiv = $("#update-log");
			if (evt.data == "EOCOMMAND"){
				logDiv.removeClass("updating");
			} else {
				console.log("socket:onmessage:",evt.data);
				logDiv.append(evt.data + "<br />");
				logDiv[0].scrollTop = logDiv[0].scrollHeight;
			}
		}
	}
}
</script>
